body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.logo{
  max-height: 50px;

}
.data{
  text-align: center !important;
}

.manage-alerts{
  margin-bottom: 3px;

}

.header{
  font-family: Calibri, Arial, Serif;
}

#alert-button{
  margin-bottom: 5px;
}

#alert-message{
  margin: 5px;
}