body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.logo{
  /*max-height: 50px;*/
  /*height: 30%;*/
  width: 50px;
  /*max-width: 50px;*/
  /*width: 30%;*/
}
.data{
  text-align: center !important;
}

.manage-alerts{
  margin-bottom: 3px;

}

.header{
  font-family: Calibri, Arial, Serif;
}

#alert-button{
  margin-bottom: 5px;
}

#alert-message{
  margin: 5px;
}

.container{
  width: 100% !important;
}
#infoTable{
  max-width: 100% !important;
}

@media only screen and (max-width: 450px) {
  .table-data{
    font-size: 10px;
  }
  .header{
    font-size: 24px;
  }
  .inventory-tracker{
    font-size: 10px;
  }
}